/* Parte generale */

/* Fine parte generale */

/* Parte header */

#color_header{
    background-color: dodgerblue;
}
header img{
    width: 100px;
    padding-top:20px ;
}
.bg_pattern{
    background-image: url(../img/pattern.png);
    background-size: 15%;
}
#blue_text{
    color: deepskyblue;
}
#text_low{
    font-size: 12px;
}
header p {
    color: gray;
}
/* Fine Parte header */
/* Inzio parte main */
#bg_yellow{
    background-color: yellow;
}
ul{
    padding-left: 20px;
}
thead{
    background-color:cornflowerblue;   
}
table{
    text-align: left;
    border-collapse: collapse;
}
th{
    color: white;
}
td{
    font-size: 12px;
    width: 400px;
}
.blue_row{
    background-color: skyblue;
}
/* Fine parte main */